:root {
  /* base figma colors */
  --blue-1: #4263eb;
  --purple-1: #7048e8;
  --pink-1: #f784ad;
  --black-1: #212429;
  --gray-1: #f8f9fa;
  --gray-2: #dde2e5;
  --gray-3: #acb5bd;
  --gray-4: #495057;
  --red-1: #F03D3E;
  --red-background-error: rgba(240, 61, 62, .1);

  /* other colors */
  --blue-2: #3b55cf;
  --box-shadow-1: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #212429;
}
